@import url("https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #F0F0F0;
  background-color: #3C486B;


}

.container {
 
  display: flex;
  flex-direction: column;
  width: 1024px;
  height: 100vh;
  margin: 0 auto;
}

.header {
  padding: 16px 0;
}

.header__title {
  font-size: 48.83px;
  font-family: "Fuzzy Bubbles", cursive;
  font-weight: 700;
  text-align: center;
}

.content {
  flex: 1;
  display: flex;
  width: 75%;
  margin: 0 auto;
  gap: 16px;
}

.aside {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: #F9D949;
  padding: 16px;
  border-radius: 8px;
  max-height: 512px;
}

label, .aside__btn, .aside__input {
  width: 100%;
}

label {
  color: #3C486B;
}

.aside__input {
  font-size: 16px;
  background-color: #EEEEEE;
  padding: 8px 4px;
  border: 2px solid #3C486B;
  border-radius: 8px;
}

.aside__btn {
  font-size: 16px;
  color: #F0F0F0;
  cursor: pointer;
  background-color: #F45050;
  padding: 8px 16px;
  border: 2px solid #3C486B;
  border-radius: 8px;
}

.main {
  flex: 2;
  display: flex;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 512px;
  height: 512px;
  background-color: #EEEEEE;
  
}

.grid__item {
  border: 1px solid #d8d9da;
}

.footer {
  padding: 16px 0;
}

.footer__text {
  font-size: 12.80px;
  text-align: center;
}
